.same-width-font {
    font-family: Monaco, Consolas, MingLiU, "Courier New", Courier, monospace;
}

.blue {
    color: #2196F3;
}

.cyan {
    color: #00BCD4;
}

.red {
    color: #f44336;
}

.red-bg {
    background-color: #f44336;
}

.green {
    color: #4CAF50;
}

.green-bg {
    background-color: #4CAF50;
}

.lime {
    color: #CDDC39;
}

.yellow {
    color: #FFEB3B;
}

.yellow-bg {
    background-color: #FFEB3B;
}

.orange {
    color: #FF9800;
}

.orange-bg {
    background-color: #FF9800;
}

.brown {
    color: #795548;
}

.pink {
    color: #E91E63;
}

.purple {
    color: #9C27B0;
}

.grey {
    color: #9E9E9E;
}

.grey-bg {
    background-color: #9E9E9E;
}

.blue-grey {
    color: #607D8B;
}

.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

/* Fit Rate */
.fit-rate-good {
    color: #4CAF50;
}

.fit-rate-poor {
    color: #FFEB3B;
}

.fit-rate-none {
    color: #f44336;
}

@keyframes aniBlink120 {
    from {
        margin-left: -60px
    }
    to {
        margin-left: 120px
    }
}

@-webkit-keyframes aniBlink120 {
    from {
        margin-left: -60px
    }
    to {
        margin-left: 120px
    }
}

.movie-image-light {
    position: relative;
    width: 65px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto
}

.movie-image-light a {
    display: inline-block
}

.movie-image-light a:before {
    content: '';
    position: absolute;
    width: 65px;
    height: 100px;
    margin-top: 0px;
    margin-left: -120px;
    overflow: hidden;
    z-index: 6;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}

.movie-image-light:hover a:before {
    -webkit-animation: aniBlink120 .3s ease-out forwards;
    -moz-animation: aniBlink120 .3s ease-out forwards;
    -o-animation: aniBlink120 .3s ease-out forwards;
    animation: aniBlink120 .3s ease-out forwards
}

.profile-tab {
    text-align: center;
    font-size: medium;
    font-family: 'Microsoft YaHei', sans-serif;
    margin-bottom: 20px;
    margin-top: auto;
}

.school-award-time {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: smaller;
    color: #0097fe;
}

.project-title {
    font-family: 'Microsoft YaHei', sans-serif;
}

.project-time {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #009688;
}

.canvas-nest-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}

.count-down-404 {
    color: #2288ff;
    padding: 0 5px;
    font-weight: 700;
    font-family: arial, sans-serif;
}

.nav-left {
    font-family: 'Microsoft YaHei', sans-serif;
}

.book-table {
    font-family: 'Microsoft YaHei', sans-serif;
}

.font-yahei {
    font-family: 'Microsoft YaHei', sans-serif;
}

.essay-title {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: normal; /* normal,bold */
    color: #c2cbce;
}

.essay-type {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #00aced;
}

.essay-time {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #00aced;
}

.essay-back-arrow {
    position: absolute;
    z-index: 2;
    left: 8px;
    top: 18px;
}

.essay-comment {
    background-color: #ffffff; /* CFD8DC,B0BEC5,80D8FF */
    padding: 20px;
    margin-top: -10px;
    border-radius: 5px;
}

.timeline-icon {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 15px
}

.make-with-a {
    color: #009688;
}

.make-with-b {
    color: #E91E63;
}

.make-with-c {
    color: #2196F3;
}

.make-with-d {
    color: #FFEB3B;
}

.make-with-e {
    color: #673AB7;
}

.make-with-default {
    color: #ffffff;
}

/* Bike */
.bike-mobike {
    color: #E91E63;
}

.bike-ofo {
    color: #FFEB3B;
}

.bike-bluegogo {
    color: #2196F3;
}

.bike-hello {
    color: #ffffff;
}

.bike-qingju {
    color: #009688;
}

.bike-default {
    color: #9E9E9E;
}

.cpu-brand-intel {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #0071c5;
}

.cpu-brand-amd {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #e11c32;
}

.gpu-brand-nvidia {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #76b900;
}

.cpu-tdp-high {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #f44336;
}

.cpu-tdp-middle {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #FFEB3B;
}

.cpu-tdp-low {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #4CAF50;
}

.cpu-used {
    color: #009688;
}

.dream-done {
    color: #009688;
}

.dream-time {
    color: #03A9F4;
    /*
    color:#2196F3;
    text-decoration: underline;
     */
}

.dream-todo {
    color: #FF9800;
}

.dream-drop {
    color: #E91E63;
}

.line-through {
    text-decoration: line-through;
}

.toolbox-link > a {
    color: rgba(177, 188, 192, .47);
    -webkit-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.toolbox-link > a:hover {
    color: #edeff0
}

/*
@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular-webfont.ttf);
}
*/

@font-face {
    font-family: Helvetica-Neue-LT-Pro; /*为引入的字体命名*/
    src: url(../font/Helvetica-Neue-LT-Pro.otf); /*定义要引入字体文件的路径*/
}

